<!--suppress HtmlUnknownTarget -->
<footer class="footer">
    <p>
        <% var d = new Date(); d.getFullYear(); %>
        &copy; <%= d.getFullYear() %> Company
    </p>
    <p>
        Made by
        <a href="/employee/64">
            Ben Napier
        </a>
    </p>
</footer>