<!--suppress HtmlUnknownTarget -->
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/static/stylesheets/style.css'/>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/javascripts/main.js"></script>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
    <script src="/node_modules/chart.js/dist/Chart.js"></script>
    <script type="text/javascript" src="/node_modules/tablesorter/dist/js/jquery.tablesorter.js"></script>
</head>