<!DOCTYPE html>
<html lang="en-gb">
<% include partials/head.ejs %>
<body>
<div class="grid">
    <header class="header">

    </header>

    <main class="main">
        <div class="main-error-message">
            <%= error.message %>
        </div>
    </main>

    <% include partials/sidenav.ejs %>

    <% include partials/footer.ejs %>
</div>
</body>
</html>
